body{
    background-image: url(../img/sistemaSolar.jpg);
    background-size: 300px;
    background-repeat: no-repeat ;
    background-position-x: right;
    background-color:black;

}

form{
    background: rgba(27, 19, 19, 0.172);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 5px;
    border: 1px solid;
   
}

.center {
    text-align: center;
    padding: 30px;

}
h1, h2, h3{
    color: antiquewhite;
}
